@font-face {
  font-family: "linotte";
  src: url("fonts/@font-face/LinotteFont.ttf") format("ttf"),
    url("fonts/@font-face/LinotteFont.woff") format("woff"),
    url("fonts/@font-face/LinotteFont.woff2") format("woff2");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(111, 204, 219);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(7, 78, 142);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: linotte;
}

h1 {
  color: lightgray;
}

.firstImg,
.secondImg,
.thirdImg,
.fourthImg {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.firstImg {
  height: 100%;
  width: 100%;
  background-image: url("img/main-bg.jpg");
}

.secondImg {
  height: 400px;
  width: 100%;
  opacity: 0.75;
  background-image: url("https://media.giphy.com/media/ko7twHhomhk8E/giphy.gif");
}

.thirdImg {
  width: 100%;
  height: 400px;
  background-image: url("img/chihiro-bg.jpg");
  opacity: 0.75;
}

.fourthImg {
  width: 100%;
  height: 300px;
  padding: 50px 0px;
  color: lightgray;
  background-color: black;
}

.intro {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: darkslategrey;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: capitalize;
}

.intro .introBorder {
  background-color: black;
  color: white;
  padding: 20px;
  opacity: 0.5;
  border-radius: 50px;
}

.s-wrap {
  width: min-content;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  font-family: "Unica One";
}

.s-move {
  display: flex;
  position: relative;
}

.slide {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  flex-shrink: 0;
}

@keyframes slideh {
  0% {
    right: 0;
  }
  15% {
    right: 0;
  }
  20% {
    right: 100%;
  }
  35% {
    right: 100%;
  }
  40% {
    right: 200%;
  }
  55% {
    right: 200%;
  }
  60% {
    right: 300%;
  }
  75% {
    right: 300%;
  }
  80% {
    right: 400%;
  }
  95% {
    right: 400%;
  }
  100% {
    right: 0;
  }
}
.s-move {
  animation: slideh linear 10s infinite;
}
.s-move:hover {
  animation-play-state: paused;
}

.section {
  padding: 20px 40px;
}

.section h1 {
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
}

.section-one {
  height: auto;
  background-image: linear-gradient(#0e4d92, #001738);
  color: azure;
  font-size: 20px;
  line-height: 2em;
}

.lolImg {
  filter: invert(100%) sepia(7%) saturate(986%) hue-rotate(195deg)
    brightness(110%) contrast(65%);
}

.whatCanImg {
  font-size: 22px;
  text-align: center;
}

.whatCanImg img {
  padding: 12px;
  height: 135px;
  padding-top: 30px;
  filter: invert(100%) sepia(7%) saturate(986%) hue-rotate(195deg)
    brightness(110%) contrast(65%);
}

.resume {
  text-decoration: none !important;
  color: ghostwhite;
  font-size: 28px;
  padding: 12px;
  border: solid 1.5px grey;
  border-radius: 20px;
  transition: 0.5s;
}

.resume:hover {
  border-color: azure;
  border-radius: 25px;
  background-color: azure;
  color: black;
}

.section-two {
  background-image: linear-gradient(#001738, #567a9b);
  height: auto;
}

.technologies img {
  height: 60px;
  width: 60px;
  filter: invert(100%) sepia(74%) saturate(16%) hue-rotate(77deg)
    brightness(111%) contrast(92%);
}

.technologies {
  font-size: 20px;
  color: lightgrey;
  font-display: hidden;
}

.tech {
  display: flex;
  flex-direction: column;
}

.tech span {
  margin-top: 18px;
  visibility: hidden;
  text-align: center;
}

.tech:hover img {
  cursor: pointer;
  height: 65px;
  width: 65px;
  transition: 0.2s;
  filter: invert(87%) sepia(0%) saturate(13%) hue-rotate(59deg) brightness(98%)
    contrast(95%);
}

.tech img:hover {
  cursor: techpointer;
}

.tech:hover span {
  cursor: pythonpointer;
  visibility: visible;
  transition: 0.5s;
}

.section-three {
  background-image: linear-gradient(#5e6b7e, black);
  height: auto;
}

.projectsImg {
  width: 250px;
  height: auto;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(310deg)
    brightness(105%) contrast(101%);
}

.geekCapImg,
.champavatiDeviImg,
.quicktimetableImg {
  width: 175px;
  height: auto;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(310deg)
    brightness(105%) contrast(101%);
}

.projectSections {
  margin-left: 25px;
  height: 200px;
  vertical-align: middle;
}

.quicktimetableTitle {
  text-decoration: none;
  color: azure;
  font-size: 30px;
  transition: 0.5s;
}

.quicktimetableTitle:hover {
  color: grey;
  font-size: 30px;
  letter-spacing: 1px;
  transition: 0.3s;
}

.quicktimetableDes {
  font-size: 25px;
  color: grey;
}

.capNgoImg {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(310deg)
    brightness(105%) contrast(101%);
  transition: 0.5s;
}

.linkImg {
  height: 23px;
  width: 23px;
}

.hireMe p {
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.hireMe h2 {
  text-align: center;
}

.hireMe img {
  filter: invert(100%) sepia(7%) saturate(986%) hue-rotate(195deg)
    brightness(110%) contrast(65%);
  height: 70px;
  width: auto;
  transition: 0.3s;
}

.hireCat {
  position: absolute;
  left: 0;
  bottom: 0;
}

/*@media (min-width: 551px) and (max-width: 768px){
    .
}*/

@media (max-width: 640px) {
  .intro {
    font-size: 22px;
  }

  .firstImg,
  .secondImg,
  .thirdImg,
  .fourthImg {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .s-wrap {
    width: 100%;
  }

  .whatCan {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: darkgray;
  }

  .whatCanImg {
    font-size: 18px;
  }

  .resume {
    padding-top: 10px;
    font-size: 20px;
  }

  .technologies {
    display: grid;
    font-size: 18px;
  }

  .hireCat {
    height: 150px;
    width: 120px;
  }
}
